body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
.map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.title-map{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 40px;
    margin-top:10px;
    margin-bottom: 20px;
}

.text-map{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}
