body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

/***********HEADER*************/

header, nav {
    color: white;
    z-index: 2;
}

section, footer {
    padding: 3em 0!important;
}

.header {
    position: absolute;
    
}

.logo {
    font-family: 'Architects Daughter', cursive;
    z-index: 2;
    font-size: 2.5em;
    font-weight: bolder;
}

#phone {
    z-index: 2;
    font-weight: bolder;
    font-size: 1.5em;
}

nav {
    position: absolute!important;
    top: 80px;
}

nav a {
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.slider {
    z-index: 1;
    top:-200px;
    position: initial;
    
}
.slider .btn {
    background-color: #5ECF65!important;
    border: none;
}

.slider-caption {
    bottom: 25%;
}

#test {
    /*position: relative;
    bottom: 230px;*/
}

/******************QSN******************/

.nous-img{
    width: 500px;
}
.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
.map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.archiDau{
    font-family: 'Architects Daughter', cursive;
}

.text-nous{
    font-size: 17px;
}

.title-map{
    text-align: center;
    font-size: 40px;
    margin-top:10px;
    margin-bottom: 20px;
}

.text-map{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

#tarif svg {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    width: 10em;
    height: 10em;
    margin-bottom: 2em;
}

#tarif h1 {
    margin-bottom: 3em;
}

.vignette {
    background-color: #5E5139;
    color: white;
    padding: 2em;
    transform: rotateY(180deg);
}
.vehicule {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;
}

#tarif {
    background-color: rgb(173, 140, 77, 0.5);
}

.tarif {
    font-size: 2em;
    letter-spacing: 0.1em;
    font-weight: bold;
}
#chiffre .container {
    padding: 5em 0;
}

#chiffre {
    text-align: center;
    background-image: url('/images/back-chiffre.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    color: black;
}

#trajets, #vehicules, #employes, #points_de_retrait {
    font-size: 40px;
    font-weight: bolder;
}

#chiffre p {
font-size: 30px;
}

#partner {
    background-color: rgba(128, 128, 128, 0.2);
}

#partner img {
    width: 10%!important;
    
}
#ou-nous-trouver {
    padding-bottom: 0!important;
}

#ou-nous-trouver h3, .text-map {
    margin-bottom: 1em;
}

.text-map {
    margin-bottom: 3em;
}

#contact {
    padding-top: 0;
}

#contact .container {
    padding: 3em;
}

footer {
    background-color: #00849C;
    color: white;
}
footer a {
    color: black;
}


.flip-vertical-right {
	-webkit-animation: flip-vertical-right 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
  }
  

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  



/************** MEDIA QUERIES **************/

@media (max-width: 360px) {

    .header {
        flex-direction: column;
        background-color: #00849C;
        max-width: 100%;
    }
    
    .carousel-inner img {
        display: none!important;
    }

}

@media (min-width: 768px) {

    .slider-caption {
       bottom: -65px;
    }

    .slider-caption a {
        display: none;
    }

}

@media (min-width: 1024px) {
    .slider-caption {
        bottom: 35px;
    }
}

